<div>
  {{link-to "go back" "index"}}
</div>

{{default-attributes}}
{{default-components}}

<h2>
  A-Frame primitives (Ember Components)
</h2>
{{#each components as |component|}}
  {{#toggle-list
    shouldHideToggle=component.shouldHideToggle
    as |components|
  }}
    {{#components.header}}
      {{component.tagName}}
    {{/components.header}}
    {{#components.body}}
      <div>
        Non-default attributes
      </div>
      <ul>
        {{#each component.nonDefaultAttributeBindings as |attribute|}}
          <li>
            {{attribute}}
          </li>
        {{/each}}
      </ul>
    {{/components.body}}
  {{/toggle-list}}
{{/each}}